.btn {
  padding: 15px;
  border: 1px solid transparent;
  border-radius: 999px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
  min-width: 120px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}
.btn__green {
  background-color: #05ab6e;
  border: 1px solid transparent;
}
.btn__green:hover {
  background-color: #ffffff;
  border: 1px solid #05ab6e;
  color: #05ab6e;
}
.btn__trans {
  border: 1px solid #ffffff;
  background: none;
}
.btn__trans:hover {
  background-color: #ffffff;
  color: #05ab6e;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #4e4e4e;
}

::-webkit-scrollbar-thumb {
  background: #05ab6e;
  border-radius: 10px;
}

.hamburger {
  position: fixed;
  top: 15px;
  left: 20px;
  z-index: 999;
  background-color: rgba(78, 78, 78, 0.3);
  padding: 10px 10px 6px;
  border-radius: 8px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10px;
  max-width: 1200px;
}

.full-bleed {
  -webkit-box-shadow: 0 0 0 100vmax #ffffff;
          box-shadow: 0 0 0 100vmax #ffffff;
  -webkit-clip-path: inset(-1px -100vmax);
          clip-path: inset(-1px -100vmax);
}

.section {
  background-color: #ffffff;
}
.section__title {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #05ab6e;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.section__desc {
  font-size: 24px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: #4e4e4e;
  text-align: center;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 10px;
  width: 100%;
  max-width: 1200px;
}
.header__comp {
  padding-top: 25px;
  color: #ffffff;
  padding-left: 10px;
  font-size: 18px;
}
.header__title {
  padding-top: 55px;
  color: #ffffff;
  font-size: 28px;
}
.header__parag {
  margin-top: 30px;
  color: #ffffff;
}
.header__parag-span {
  color: #05ab6e;
}
.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 45px;
  padding-bottom: 160px;
}
.header__search-box {
  position: absolute;
  bottom: -70px;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 95%;
  min-height: 140px;
  background-color: #0779e4;
  border-radius: 15px;
  max-width: 1200px;
}
.header__search-box-title {
  margin-top: 20px;
  color: #ffffff;
  font-size: 20px;
  font-weight: normal;
}
.header__search-box-form {
  margin: 10px auto 0;
  background-color: red;
  position: relative;
  width: 90%;
}
.header__search-box-form-input {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding: 15px;
  font-size: 12px;
  color: #4e4e4e;
  border-radius: 999px;
  border: none;
  height: 45px;
  width: 100%;
}
.header__search-box-form-btn {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 45px;
  top: 0;
  right: 0px;
  background-color: #ff8554;
}
.header__search-box-form-btn:hover {
  background-color: #05ab6e;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding-top: 120px;
}
.services__box-card {
  padding: 25px;
  margin: 15px 0;
  background-color: #eff0f6;
  border-radius: 20px;
}
.services__box-card-icon {
  background-color: #05ab6e;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  color: #ffffff;
}
.services__box-card-title {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 20px;
}
.services__box-card-parag {
  font-size: 14px;
  margin-bottom: 10px;
}

.about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  text-align: center;
}
.about-us__img {
  margin: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  max-height: 300px;
  width: 90%;
  border-radius: 20px;
}
.about-us__parag {
  margin-bottom: 20px;
  font-size: 14px;
}

.pricing {
  padding: 0 10px;
  text-align: center;
}
.pricing__parag {
  font-size: 14px;
}
.pricing__box {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}
.pricing__box-slide {
  margin: 0 20px;
}
.pricing__box-card {
  position: relative;
  width: 230px;
  height: 500px;
  margin: 35px auto 20px;
  padding: 10px 5px;
  text-align: start;
  border-radius: 20px;
  -webkit-box-shadow: 6px 6px 13px 0px rgba(8, 8, 8, 0.5);
          box-shadow: 6px 6px 13px 0px rgba(8, 8, 8, 0.5);
}
.pricing__box-card-title {
  text-align: center;
}
.pricing__box-card-price {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
}
.pricing__box-card-span {
  font-size: 16px;
}
.pricing__box-card-parag {
  font-size: 14px;
  margin: 25px 0;
}
.pricing__box-card-list {
  position: relative;
  margin: 8px 0 8px 30px;
  list-style: none;
  font-size: 14px;
}
.pricing__box-card-list::before {
  position: absolute;
  border: 1px solid #000000;
  border-radius: 50%;
  left: -30px;
  top: 0;
  width: 20px;
  height: 20px;
  content: url(../img/icon/checkBlack.svg);
}
.pricing__box-card-list--middle::before {
  border: 1px solid #ffffff;
  background: #ffffff;
  content: url(../img/icon/checkGreen.svg);
}
.pricing__box-card .btn {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  margin: 30px auto 0;
}
.pricing__box-card .btn--middle {
  color: #05ab6e;
}
.pricing__box-card .btn--middle:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: #05ab6e;
}
.pricing__box-card--middle {
  background-color: #05ab6e;
  color: #ffffff;
}

.support {
  text-align: center;
  padding: 0 10px;
}
.support .section__title {
  padding: 35px 0 15px;
}
.support .section__desc {
  margin: 25px 0;
}
.support__img {
  margin: 25px 0;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 90%;
  border-radius: 20px;
}
.support__parag {
  margin: 25px 0;
}
.support .btn {
  margin: 25px 0;
}

.feedback {
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}
.feedback img {
  font-size: 10px;
}
.feedback__box-card {
  position: relative;
  padding: 25px;
  margin: 35px auto;
  max-width: 300px;
  border: 1px solid rgba(78, 78, 78, 0.3);
  border-radius: 20px;
  text-align: start;
  -webkit-box-shadow: 6px 6px 13px 0px rgba(8, 8, 8, 0.5);
          box-shadow: 6px 6px 13px 0px rgba(8, 8, 8, 0.5);
}
.feedback__box-card-img {
  position: absolute;
  left: 25px;
  top: 25px;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.feedback__box-card-name {
  margin-left: 70px;
}
.feedback__box-card-country {
  color: #4e4e4e;
  font-size: 12px;
  margin-left: 70px;
}
.feedback__box-card-parag {
  font-size: 14px;
  margin: 25px 0;
}
.feedback__box-card-stars {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  position: sticky;
  bottom: 0;
  padding: 35px 10px;
  background-color: #4e4e4e;
  z-index: -1;
}
.footer__list {
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}
.footer__list ul {
  padding: 0 5px;
}
.footer__list li {
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
  color: rgba(255, 255, 255, 0.4862745098);
  list-style: none;
}
.footer__list li:hover {
  color: #05ab6e;
  cursor: pointer;
}
.footer__list li:first-child {
  color: #ffffff;
  margin-bottom: 15px;
}

.view-mask {
  display: none;
}

.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
}
.slick-dots button {
  margin: 0 5px 10px;
  border: none;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
  border: 1px solid #05ab6e;
  font-size: 0px;
  line-height: 0;
}
.slick-dots .slick-active button {
  background-color: #05ab6e;
  height: 20px;
  width: 20px;
}

@media (min-width: 350px) {
  .pricing__box-card {
    width: 300px;
    height: 500px;
    padding: 30px 15px;
  }
}
@media (min-width: 576px) {
  .services__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .services__box-card {
    width: 45%;
  }
}
@media (min-width: 768px) {
  .section__title {
    padding-top: 40px;
    font-size: 26px;
    font-weight: 400;
  }
  .section__desc {
    font-size: 32px;
  }
  .header__comp {
    font-size: 36px;
  }
  .header__wrapper {
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  .header__container {
    margin-left: 15px;
    max-width: 600px;
    text-align: left;
  }
  .header__title {
    font-size: 32px;
  }
  .header__parag {
    font-size: 18px;
  }
  .header__btn {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 60px;
  }
  .header__btn-sign {
    margin-right: 30px;
  }
}
@media (min-width: 992px) {
  .header__search-box {
    min-height: 250px;
    bottom: -125px;
    padding-top: 60px;
  }
  .header__search-box-title {
    font-size: 32px;
  }
  .services__box {
    margin-top: 45px;
  }
  .services__box-card {
    width: 23%;
    -webkit-transition: border 0.4s, -webkit-transform 0.4s;
    transition: border 0.4s, -webkit-transform 0.4s;
    transition: transform 0.4s, border 0.4s;
    transition: transform 0.4s, border 0.4s, -webkit-transform 0.4s;
    border: 1px solid transparent;
  }
  .services__box-card:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    border: 1px solid #05ab6e;
  }
  .about-us {
    padding-top: 85px;
  }
  .about-us .btn {
    grid-column: 2/3;
    grid-row: 4/5;
    height: 60px;
    max-width: 165px;
    height: 48px;
  }
  .about-us__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1200px;
    text-align: left;
  }
  .about-us .section__title {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .about-us .section__desc {
    grid-column: 2/3;
    grid-row: 2/3;
  }
  .about-us__img {
    max-height: 90%;
    grid-column: 1/2;
    grid-row: 1/-1;
    content: url(../img/aboutUs-1920.jpg);
  }
  .support {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 45px;
  }
  .support .section__title {
    grid-column: 1/2;
    grid-row: 1/2;
    margin: 5px 0;
  }
  .support .section__desc {
    grid-column: 1/2;
    grid-row: 2/3;
    margin: 5px 0;
    font-size: 22px;
  }
  .support__img {
    grid-column: 2/3;
    grid-row: 1/-1;
    margin: auto;
  }
  .support__parag {
    grid-column: 1/2;
    grid-row: 3/4;
    margin: 5px 0;
  }
  .support .btn {
    grid-column: 1/2;
    grid-row: 4/5;
    margin: 5px auto;
    width: 165px;
    height: 48px;
  }
}/*# sourceMappingURL=style.css.map */