@use "colors";
@use "components";

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
}

.hamburger {
	position: fixed;
	top: 15px;
	left: 20px;
	z-index: 999;
	background-color: colors.$grayAlpha;
	padding: 10px 10px 6px;
	border-radius: 8px;
}
.wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0 10px;
	max-width: 1200px;
}
.section {
	&__title {
		margin-top: 20px;
		margin-bottom: 10px;
		color: colors.$primary;
		font-size: 16px;
		font-weight: 400;
		text-transform: uppercase;
	}
	&__desc {
		font-size: 24px;
	}
}

.header {
	display: flex;
	justify-content: center;
	position: relative;
	background-color: colors.$gray;
	text-align: center;
	&__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		padding: 0 10px;
		width: 100%;
		max-width: 1200px;
	}
	&__comp {
		padding-top: 25px;
		color: colors.$white;
		padding-left: 10px;
		font-size: 18px;
	}
	&__title {
		margin-top: 55px;
		color: colors.$white;
		font-size: 28px;
	}
	&__parag {
		margin-top: 30px;
		color: colors.$white;
		&-span {
			color: colors.$primary;
		}
	}
	&__btn {
		display: flex;
		justify-content: space-evenly;
		margin-top: 45px;
		padding-bottom: 160px;
	}
	&__search-box {
		position: absolute;
		bottom: -70px;
		left: 50%;
		display: flex;
		flex-direction: column;
		transform: translateX(-50%);
		width: 95%;
		min-height: 140px;
		background-color: colors.$secondary;
		border-radius: 15px;
		max-width: 1200px;

		&-title {
			margin-top: 20px;
			color: colors.$white;
			font-size: 20px;
			font-weight: normal;
		}
		&-form {
			margin: 10px auto 0;
			background-color: red;
			position: relative;
			width: 90%;

			&-input {
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				padding: 15px;
				font-size: 12px;
				color: colors.$gray;
				border-radius: 999px;
				border: none;
				height: 45px;
				width: 100%;
			}
			&-btn {
				position: absolute;
				display: flex;
				align-items: center;
				justify-content: center;
				height: 45px;
				top: 0;
				right: 0px;
				background-color: colors.$orange;
				&:hover {
					background-color: colors.$primary;
				}
			}
		}
	}
}

.services {
	display: flex;
	justify-content: center;
	text-align: center;
	margin-top: 120px;

	&__box {
		&-card {
			padding: 25px;
			margin: 15px 0;
			background-color: colors.$bg-card;
			border-radius: 20px;
			&-icon {
				background-color: colors.$primary;
				padding: 10px;
				border-radius: 10px;
				margin-bottom: 20px;
				color: colors.$white;
			}
			&-title {
				font-size: 16px;
				font-weight: 700;
				margin-bottom: 20px;
			}
			&-parag {
				font-size: 14px;
				margin-bottom: 10px;
			}
		}
	}
}

.about-us {
	display: flex;
	justify-content: center;
	padding: 0 10px;
	text-align: center;
	&__img {
		margin: 20px 0;
		object-fit: cover;
		object-position: center;
		max-height: 300px;
		width: 90%;
		border-radius: 20px;
	}
	&__parag {
		margin-bottom: 20px;
		font-size: 14px;
	}
}

.pricing {
	padding: 0 10px;
	text-align: center;
	&__parag {
		font-size: 14px;
	}
	&__box {
		display: block;
		max-width: 1200px;
		margin: 0 auto;
		&-slide {
			margin: 0 20px;
		}
		&-card {
			position: relative;
			width: 230px;
			height: 500px;
			margin: 35px auto 20px;
			padding: 10px 5px;
			text-align: start;
			border-radius: 20px;
			box-shadow: 6px 6px 13px 0px rgba(8, 8, 8, 0.5);

			&-title {
				text-align: center;
			}
			&-price {
				text-align: center;
				font-size: 28px;
				font-weight: 700;
			}
			&-span {
				font-size: 16px;
			}
			&-parag {
				font-size: 14px;
				margin: 25px 0;
			}

			&-list {
				position: relative;
				margin: 8px 0 8px 30px;
				list-style: none;
				font-size: 14px;

				&::before {
					position: absolute;
					border: 1px solid colors.$black;
					border-radius: 50%;
					left: -30px;
					top: 0;
					width: 20px;
					height: 20px;
					content: url(../img/icon/checkBlack.svg);
				}
				&--middle {
					&::before {
						border: 1px solid colors.$white;
						background: colors.$white;
						content: url(../img/icon/checkGreen.svg);
					}
				}
			}
			.btn {
				position: absolute;
				bottom: 10px;
				left: 50%;
				transform: translateX(-50%);
				display: block;
				margin: 30px auto 0;
				&--middle {
					color: colors.$primary;
					&:hover {
						color: colors.$white;
						border: 1px solid colors.$white;
						background-color: colors.$primary;
					}
				}
			}
			&--middle {
				background-color: colors.$primary;
				color: colors.$white;
			}
		}
	}
}

// SLICK SLIDER
.slick-dots {
	display: flex;
	justify-content: center;
	flex-direction: row;
	list-style: none;
	button {
		margin: 0 5px;
		border: none;
		border-radius: 50%;
		height: 15px;
		width: 15px;
		background-color: colors.$white;
		border: 1px solid colors.$primary;
		font-size: 0px;
		line-height: 0;
	}

	.slick-active {
		button {
			background-color: colors.$primary;
			height: 20px;
			width: 20px;
		}
	}
}

//MEDIA
@media (min-width: 350px) {
	.pricing {
		&__box {
			&-card {
				width: 300px;
				height: 500px;
				padding: 30px 15px;
			}
		}
	}
}

@media (min-width: 576px) {
	.services {
		&__box {
			display: flex;
			justify-content: space-around;
			flex-wrap: wrap;
			&-card {
				width: 45%;
			}
		}
	}
}
@media (min-width: 768px) {
	.section {
		&__title {
			margin-top: 40px;
			font-size: 26px;
			font-weight: 400;
		}
		&__desc {
			font-size: 32px;
		}
	}
	.header {
		&__comp {
			font-size: 36px;
		}
		&__wrapper {
			justify-content: left;
		}
		&__container {
			margin-left: 15px;
			max-width: 600px;
			text-align: left;
		}
		&__title {
			font-size: 32px;
		}
		&__parag {
			font-size: 18px;
		}
		&__btn {
			justify-content: start;
			margin-bottom: 60px;
			&-sign {
				margin-right: 30px;
			}
		}
	}
}

@media (min-width: 992px) {
	.header {
		&__search-box {
			min-height: 250px;
			bottom: -125px;
			padding-top: 60px;
			&-title {
				font-size: 32px;
			}
		}
	}
	.services {
		&__box {
			margin-top: 45px;
			&-card {
				width: 23%;
				transition: transform 0.4s, border 0.4s;
				border: 1px solid transparent;

				&:hover {
					transform: scale(1.1);
					border: 1px solid colors.$primary;
				}
			}
		}
	}
	.about-us {
		margin-top: 85px;
		.btn {
			grid-column: 2/3;
			grid-row: 4/5;
			height: 60px;
			max-width: 165px;
			height: 48px;
		}
		&__wrapper {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(4, 1fr);
			max-width: 1200px;
			text-align: left;
		}

		.section {
			&__title {
				grid-column: 2/3;
				grid-row: 1/2;
			}
			&__desc {
				grid-column: 2/3;
				grid-row: 2/3;
			}
		}
		&__img {
			max-height: 90%;
			grid-column: 1/2;
			grid-row: 1/-1;
			content: url(../img/aboutUs-1920.jpg);
		}
	}
	// .pricing {
	// 	&__box {
	// 		&-card {
	// 			margin: 35px 15px;
	// 		}
	// 	}
	// }
}
